@import "tailwindcss";

@theme {
  --color-primary: #002D62;
  --color-primary-container: #002D62; /* Using dark blue for high-contrast cards */
  --color-secondary: #475569; 
  --color-secondary-container: #F1F5F9; /* Using light slate for secondary containers */
  --color-on-surface: #0F172A;
  --color-surface: #FFFFFF;
  --color-surface-container-low: #F8FAFC;
  --color-outline-variant: #E2E8F0;
  
  --font-headline: "Plus Jakarta Sans", sans-serif;
  --font-body: "Inter", sans-serif;
}



@layer base {
  body {
    @apply bg-surface text-on-surface antialiased;
  }
}

